#slideshow {
  div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    img {
      width: 100%;
      box-shadow: 10px 5px grey;
    }
  }
  margin: 50px auto;
  position: relative;
  width: 900px;
  height: 450px;
  padding: 10px;

}

#button {
  text-align: center;
  margin-top: 6%;

}
#counter{
  display: flex;
  justify-content: center;
  color: #575757;
}
